#contentPane {
    -fx-background-color: #f9f9f9;
}

#sidebar {
    -fx-background-color: #eee;
}

.navItem {
    -fx-cursor: Hand;
    -fx-border-color: #ddd;
    -fx-border-width: 0 1px 0 0;
}

.navItem.active {
    -fx-cursor: Pointer;
    -fx-background-color: #ddd;
}
